:root{
  --color-dark:hsl(247, 75%, 33%);
  --color-light:hsl(192, 71%, 28%);
  --color-lighter:hsl(193, 62%, 79%);
  --color-grey:hsl(240, 1%, 26%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: sans-serif;
}
a{
  text-decoration: none; 
}
ul{
  list-style-type: none;
}
img{
  width:100%;
  height:auto;
  display: block;
}